# files
/database.md
/database.db
/config.py
/test.py
/attn.py
/api.py
/app.py
/ltm.py
/api.txt
/cli.py
/vid-to-text.py
/ScreenOutput.xlsx

# directories
symbols/
notebooks/
utils/

# ignore
.DS_Store
*.pyc
*.ipynb
*.mp4
