# files
/database.md
/database.db
# /config.py
# /macroeco.py
/test.py
/attn.py
/api.py
/ltm.py
/api.txt
/cli.py
/vid-to-text.py
/test_screener.py
/ScreenOutput.xlsx
/webpage.code-workspace
/setup.sh

# directories
test/
symbols/
notebooks/
utils/
__pycache__/
llama-2-finance/
LLMs/

# ignore
.DS_Store
*.pyc
*.ipynb
*.mp4

